<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Video Game</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Edit <%= foundGame.title %></h1>

    <form
      action="/games/<%= foundGame._id %>?_method=PUT"
      method="POST"
    >
      <label for="title">Title:</label>
      <input
        type="text"
        name="title"
        id="title"
        value="<%= foundGame.title %>"
      />

      <label for="platform">Platform:</label>
      <input
        type="text"
        name="platform"
        id="platform"
        value="<%= foundGame.platform %>"
      />

      <label for="genre">Genre:</label>
      <input
        type="text"
        name="genre"
        id="genre"
        value="<%= foundGame.genre %>"
      />

      <label for="isCompleted">Completed?</label>

      <% if (foundGame.isCompleted) { %>
        <input
          type="checkbox"
          name="isCompleted"
          id="isCompleted"
          checked
        />
      <% } else { %>
        <input
          type="checkbox"
          name="isCompleted"
          id="isCompleted"
        />
      <% } %>

      <button type="submit">Update Game</button>
    </form>

    <a href="/games">Back to Games</a>
  </body>
</html>
